header.header
    .container.header__container
        .header__logo.wow.fadeInDown
            a(href="/")
                img(src="/images/logo-black.png")
        
        .header__hamburguer.wow.fadeInRight
            a Menu
            span
            span
            span
            
        nav.header__nav
            a.header__nav__close
                span
                span
            ul.header__menu
                each item in site.data.header
                    li
                        a(href=item.url)= item.name
                        if item.submenu
                            ul.header__submenu
                                each link in item.submenu
                                    li
                                        a(href=link.url)= link.name

            .header__social
                span.header__social__tagline Seguinos
                ul.header__social__list
                    each red in site.data.social
                        li
                            a(href=red.url, target="_blank")
                                i(class="fa fa-#{red.name}")
            
